body{
  color: black;
  font-size: 16px;
  background: url("../img/background-papel.png");
  font-family: 'Oxygen', 'sans-serif';
}

/***** Header *************************/

#header-nav{ /* fondo header */
  background: url("../img/portada_background.png");
  border: 0;
  border-radius: 0;
}

#logo-img{ /* Logo */
  background: url("../img/logo150x150.png") no-repeat;
  height: 150px;
  width: 150px;
  margin: 20px 20px 20px 0;
}

.navbar-brand{
  padding-top: 20px;
}

.navbar-brand h1{ /* Nombre Libreria */
  color: white;
  font-family: 'Abhaya Libre', 'serif';
  font-size: 2em;
  text-transform: uppercase;
  font-weight: normal;
  margin-top: 15px;
  margin-bottom: 0px;
  line-height: 1;
  letter-spacing: 0.1em;
}

.navbar-brand a:hover, .navbar-brand a:focus{
  text-decoration: none;
} 

.navbar-brand p{ /* Subtitulo de Nombre Libreria */
  font-size: .7em;
  color: #CFB53B;
  text-transform: uppercase;
  margin-top: -1px;
  text-align: center;

}

/* Menu Header */

.container{ /* container en relative para posicionale el menu */
  position: relative;
}

#nav-list{ /* menu  en absolute respecto al container*/
  position: absolute;
  bottom: 5px;
  right: 0px;
  margin: 0 15px 0 0;
}

#nav-list li{ /* fondo del menu */
  background-color: #000;
  opacity: 0.8;
}

#nav-list a{ /* lutra del menu */
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  font-size: 1em;
}

#nav-list a:hover{
  background: #E7E7E7;
  color: #000;
}

/* Munu desplegable Header */

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{ /* color del icono menu desplegable*/
  border: 1px solid #fff;
}

.navbar-header button.navbar-toggle{
  clear: both;
  margin-top: -30px;
}

/***** End Header *************************/




/***** Main Content **********************/

/* color de jubotron transparente */
.jumbotron {
  background-color: transparent;
  padding-top: 0;
  margin-top: -5px;
}

/* carrucel */

#slider{
  overflow: hidden;
}

#slider figure{
  position: relative;
  width: 500%; /* el ancho es de 500% para las 5 imagenes */
  margin: 0;
  left: 0; /* esta toda la imagen hacia la iz */
  animation: 20s slider infinite;
}

#slider figure img{
  width: 20%; /* 100 de la pantalla dividida en 5 imagenes */
  float: left;
}

@keyframes slider{
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

/* End carrucel */



/* HOME TILES */

#catalogo-tile, #promociones-tile, #compra-tile { /* ajustando cuadro de categoarias */
  width: 100%;
  height: 250px;
  background-color: green;
  margin-bottom: 15px;
  position: relative;
  border: 1px solid #000;
  overflow: hidden;
  border-radius: 10px;
}

#catalogo-tile:hover, #promociones-tile:hover, #compra-tile:hover { /* hover de cada categoria */
  box-shadow: 0 1px 6px 1px #000;
}

#catalogo-tile { /* imagen de catalogo */
  background: url("../img/catalogo-tile-360x250.jpg") no-repeat;
  background-position: center;
}

#promociones-tile { /* imagen de promociones */
  background: url("../img/promociones-tile-360x250.jpg") no-repeat;
  background-position: center;
}

#compra-tile { /* imagen de compra */
  background: url("../img/compra-tile-350x250.jpg") no-repeat;
  background-position: center;
}


#catalogo-tile span, #promociones-tile span, #compra-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 15%;
  text-align: center;
  font-size: 1.2em;
  background-color: #000;
  color: #fff;
  opacity: .8;

}

/* END HOME TILES */

/* FOOTER */

/* estilo de divs en footer */
.panel-footer{
  /* color del texto */
  color: #FFF;
	margin-top: 30px;
	padding-top: 35px;
	padding-bottom: 20px;
	background-color: #2f2e2e;
  border-top: 0;
}

.panel-footer div.row{
	margin-bottom: 10px;
}

/* titulos de cada seccion del footer */
.title-footer{
  /* centrados */
  text-align: center;
  margin-bottom: 20px;
}


/* historia centrada */
.panel-footer .historia-footer{
  font-family: 'serif','sans-serif';
  font-style: italic;
  text-align: center;
  line-height: 2em;
  font-size: 14px;
}

/* estilo de fuente telefono */
.panel-footer a{
  display: block;
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 14px;
}
.panel-footer a:hover{
  color: grey;
}

/* facebook icon */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* mapa  */
.panel-footer #map-tile{
  text-align: center;
}


/* END FOOTER */




/***** End Main Content ******************/

/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /**** HEADER MENU ****/
  .container{ /* container sin el relative para posicionale el menu */
  position: static;
  }
  #nav-list{
    position: static;
  }
  #nav-list{
    margin-top: 40px;
    margin-bottom: 5px;
  }
  /**** END HEADER MENU *****/

  /**** MAIN CONTENT ****/
  /* Tails */
  #compra-tile { /* categoria compra libros en toda la pantalla 1005 */
    background: url("../img/compra-tile-800x500.jpg") no-repeat;
    background-position: center;
  }
  /* FOOTER */
  .title-footer{
    margin-top: 30PX;
  }



}

/********** Extra small devices only **********/
@media (max-width: 767px) and (min-width: 481px) {
  /**** HEADER ****/
  /* Header menu desplegable (para que funcione bootstrap hay que dejarlo con relative y absolute) */
  .container{ /* container sin el relative para posicionale el menu */
  position: static;
  }
  #nav-list{
    position: static;
  }

  /* Header */
  .navbar-brand{
    padding: 10px;
    height: 80px;
  }
  .navbar-brand h1{ /* nombre de Libreria */
    padding-top: 10px;
    font-size: 5vw;
  }
  .navbar-brand p{
    font-size: .6em;
  }
  /**** HEADER ****/

  /**** MAINT CONTENT ****/
  /* TILES */
  #catalogo-tile, #promociones-tile, #compra-tile{
    width: 360px;
    margin: 0 auto 20px;
  }
  /* END TILES */

  /* FOOTER */
   .title-footer{
     margin-top: 30PX;
   }

}


/********** Extre Extra small devices only **********/

@media (max-width: 480px){

  /**** HEADER ****/
    /* Header menu desplegable (para que funcione bootstrap hay que dejarlo con relative y absolute) */
  .container{ /* container sin el relative para posicionale el menu */
  position: static;
  }
  #nav-list{
    position: static;
  }
  /* tamaño letra menu desplegable */
  #nav-list a{
    font-size: .8em;
  }

  /* Nombre libreria */
  .navbar-brand{
    padding: 10px;
    height: 80px;
  }
  .navbar-brand h1{ /* nombre de Libreria */
    padding-top: 10px;
    font-size: 7vw;
  }
  .navbar-brand p{
    font-size: 2vw;
  }

  /**** END HEADER ****/

  /**** MAINT CONTENT ****/
  /* carrucel */


  /* carrucel */


  /* TILES */
  #catalogo-tile, #promociones-tile, #compra-tile{
    width: 360px;
    margin: 0 auto 20px;
  }

  #catalogo-tile, #promociones-tile, #compra-tile{
    width: 250px;
    height: 150px;
  }
  #catalogo-tile span, #promociones-tile span, #compra-tile span{
    height: 20%;
  }

  /* END TILES */

}
