/*** BODY ***/
body{
  font-size: 16px;
  color: black;
  /* background: url("../img/background-papel.png"); */
  font-family: 'Oxygen', 'sans-serif';
}

/*** HEADER ***/
/* Fondo Header */
/* fondo header */
#header-nav{ 
  background: url("../img/portada_background.png");
  border: 0;
  border-radius: 0;
}
/* Logo, Titulo y Subtitulo */
/* Logo como background image */
#logo-img{ 
  background: url("../img/logo150x150.png") no-repeat;
  height: 150px;
  width: 150px;
  margin: 20px 20px 20px 0;
}
/*Contenedor de nombre de Libreria y subtitulo se baja un poco*/
.navbar-brand{ 
  padding-top: 20px;
}
/* Nombre Libreria */
.navbar-brand h1{ 
  color: white;
  font-family: 'Abhaya Libre', 'serif';
  font-size: 2em;
  text-transform: uppercase;
  font-weight: normal;
  margin-top: 15px;
  margin-bottom: 0px;
  line-height: 1;
  letter-spacing: 0.1em;
}
/*Se saca subrrallado de link de nombreLibreria y subtitulo*/
.navbar-brand a:hover, .navbar-brand a:focus{ 
  text-decoration: none;
} 
/* Subtitulo de Nombre Libreria */
.navbar-brand p{ 
  font-size: .7em;
  color: #CFB53B;
  text-transform: uppercase;
  margin-top: -1px;
  text-align: center;
}
/* Menú Header */
/* container de header en relative para posicionale el menú */
#header-nav .container{ 
  position: relative;
}
/* menú en absolute respecto al container*/
#nav-list{ 
  position: absolute;
  bottom: 5px;
  right: 0px;
  margin: 0 15px 0 0;
}
/* fondo del menú */
#nav-list li{ 
  background-color: #000;
  opacity: 0.8;
  /* width: 150px; */
}
/* letra del menú */
#nav-list a{ 
  color: #FFF;
  text-align: center;
  font-size: 0.9em;
}
/* hover del menú */
#nav-list a:hover{ 
  background: #E7E7E7;
  color: #000;
}
/* Menú desplegable Header */
/* color del icono menu desplegable*/
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{ 
  border: 1px solid #fff;
}
/* clear both icono de menú deaplegable para que se vea el titulo y subtitulo dentro del header */
.navbar-header button.navbar-toggle{ 
  clear: both;
  margin-top: -20px;
}

/*** MAIN CONTENT ***/
/* Color de jubotron transparente */
.jumbotron {
  background-color: transparent;
  padding-top: 0;
  padding-bottom: 30px;
  margin-top: -5px;
  margin-bottom: 5px;
}
/* centrar imagen */
.slider .img-responsive{
  margin-left: auto;
  margin-right: auto;
}
/* color de fondo transparente y sin bordes */
.bx-wrapper{
  background-color: transparent;
  border: none;
}
/* Slider/Carrucel */
/* posicion botones de pausa y play */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto{ 
  bottom: 5%;
}
/* posicion puntos de opciones slider centrados*/
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager{ 
  text-align: center;
  width: 100%;
}

/*** HOME TILES ***/
/* ajustando cuadro de categoarias */
#catalogo-tile, #ofertas-tile, #compra-tile { 
  width: 100%;
  height: 250px;
  margin-bottom: 15px;
  position: relative;
  border: 1px solid #000;
  overflow: hidden;
  border-radius: 10px;
}
/* hover de cada categoria */
#catalogo-tile:hover, #ofertas-tile:hover, #compra-tile:hover { 
  box-shadow: 0 1px 6px 1px #000;
}
/* imagen de catalogo */
#catalogo-tile { 
  background-position: center;
  background: url("../img/hometiles/catalogo-tile-360x250.jpg") no-repeat;
}
/* imagen de promociones */
#ofertas-tile { 
  background: url("../img/hometiles/ofertas-tile-360x250.jpg") no-repeat;
  background-position: center;
}
/* imagen de compra */
#compra-tile { 
  background: url("../img/hometiles/compra-tile-350x250.jpg") no-repeat;
  background-position: center;
}

#catalogo-tile span, #ofertas-tile span, #compra-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 12%;
  text-align: center;
  font-size: 1.2em;
  background-color: #000;
  color: #fff;
  opacity: .8;
}

/*** FOOTER ***/
/* estilo de divs en footer */
.panel-footer{
  /* color del texto */
  color: #FFF;
	margin-top: 30px;
	padding-top: 35px;
	padding-bottom: 20px;
	background-color: #2f2e2e;
  border-radius: 0;
}

.panel-footer div.row{
	margin-bottom: 10px;
}

/* titulos de cada seccion del footer */
.title-footer{
  /* centrados */
  text-align: center;
  margin-bottom: 20px;
}

/* historia centrada */
.panel-footer .historia-footer{
  font-family: 'serif','sans-serif';
  font-style: italic;
  text-align: center;
  line-height: 2em;
  font-size: 14px;
}

/* estilo de fuente telefono */
.panel-footer a{
  display: block;
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 14px;
}
.panel-footer a:hover{
  color: grey;
}

/* facebook icon */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
/* mapa  */
.panel-footer #map-tile{
  text-align: center;
}

/*** PAGINA CATEGORÍA ***/
/* menu categoría active */
#nav-list .active a{
  color:#000;
}
/* Main Content Categorías */
.category-tile{
  position: relative;
  border: 1px solid #000;
  overflow: hidden;
  /* width: 360px;
  height: 250px; */
  margin: 0 auto 15px;
  border-radius: 10px;
}
/* titulo categoría */
.category-tile span{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  background-color: #000;
  opacity: .8;
  height: 12%;
  font-size: 1.2em;
}
/* hover a cada category-tile */
.category-tile:hover{
  box-shadow: 0 1px 6px 1px #000;
}
#main-content h2{
  font-size: 20px;
}

/*** PAGINA CATÁLOGO ***/
/* anchura maxima 250px */
div .cat-item-imglibro, div .cat-item-descripcion{
  max-width: 250px;
}
/* margen abajo de cada item libro */
.cat-item-descripcion{
  margin-bottom: 15px;
  color: #000;
}
section a:hover{
  text-decoration: none;
}
.cat-item-descripcion .cat-item-titulo{
  font-weight: 400;
  line-height: 35px;
  display: block;
} 
.cat-item-autor, .cat-item-editorial, .cat-item-detalle{
  font-size: 12px;
  display: block;
  line-height: 20px;
}

/********** Large devices only **********/
@media (min-width: 1200px) {
  /*** Menú Header ***/
  /* Ancho de c/opcion de menú de 150px*/
  #nav-list li{ 
    width:150px;
  }
  /*** Main Content ***/
  /* Slider/Carrucel */
  /* posicion botones de pausa y play */
  .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto{ 
    right: 48%;
  }
  /* posicion de botones next y prev de Slider */
  .bx-wrapper .bx-controls-direction .bx-next{
    right: 20px;
  }
  .bx-wrapper .bx-controls-direction .bx-prev{
    left: 20px;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /*** Menú Header ***/
  /* Ancho de c/opcion de menú de 100px*/
  #nav-list li{ 
    width: 110px;
  }
  /*** Main Content ***/
  /* posicion botones de pausa y play */
  /* Slider/Carrucel */
  .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto{ 
    right: 47.5%;
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /*** Menú Header ***/
  /* container sin el relative para posicionale el menu */
  #header-nav .container{ 
    position: static;
  }
  #nav-list{
    position: static;
    margin-top: 40px;
    margin-bottom: 5px;
  }
  #nav-list li{
    width: 90px;
  }
  /*** MAIN CONTENT ***/
  /* Slider/Carrucel */
  /* posicion botones de pausa y play */
  .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto{ 
    right: 47%;
  }
  /* Tails */
  #compra-tile { /* categoria compra libros en toda la pantalla 1005 */
    background: url("../img/compra-tile-800x500.jpg") no-repeat;
    background-position: center;
  }
  /*** FOOTER ***/
  .title-footer{
    margin-top: 30PX;
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px) and (min-width: 481px) {
  /*** HEADER ***/
  /* Header menu desplegable (para que funcione bootstrap hay que dejarlo con relative y absolute) */
  /* container sin el relative para posicionale el menu */
  #header-nav .container{ 
  position: static;
  }
  #nav-list{
    position: static;
  }
  /* Header */
  .navbar-brand{
    padding: 10px;
    height: 80px;
  }
  /* nombre de Libreria */
  .navbar-brand h1{ 
    padding-top: 10px;
  }
  /*** MAINT CONTENT ***/
  /* posicion botones de pausa y play */
  /* Slider/Carrucel */
  .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto{ 
    right: 46.5%;
  }
  /* TILES */
  #catalogo-tile, #ofertas-tile, #compra-tile{
    width: 360px;
    margin: 0 auto 20px;
  }
  /*** FOOTER ***/
   .title-footer{
     margin-top: 30PX;
   }
   /*** PAGINA CATEGORÍA ***/
  /* Main Content Categorías */
  .category-tile{
    width: 360px;
  }
}

/********** Extre Extra small devices only **********/
@media (max-width: 480px){
  /*** Header ***/
  /* Menú desplegable (para que funcione bootstrap hay que dejarlo con relative y absolute) */
  /* container sin el relative para posicionale el menu */
  #header-nav .container{ 
  position: static;
  }
  #nav-list{
    position: static;
  }
  /* tamaño letra menu desplegable */
  #nav-list a{
    font-size: 3vw;
  }
  /* Nombre libreria */
  .navbar-brand{
    padding: 10px;
    height: 80px;
  }
  /* nombre de Libreria */
  .navbar-brand h1{ 
    padding-top: 10px;
    font-size: 7.73vw;
  }
  /* Subtitulo*/
  .navbar-brand p{ 
    font-size: 2.6vw;
  }
  /*** MAIN CONTENT ***/
  .jumbotron{
    padding-bottom: 0;
  }
  /* Slider/Carrucel */
  /* posicion botones de pausa y play */
  .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto{ 
    right: 45%;
  }
  /*** TILES ***/
  #catalogo-tile, #ofertas-tile, #compra-tile{
    width: 360px;
    margin: 0 auto 20px;
  }
  #catalogo-tile, #ofertas-tile, #compra-tile{
    width: 250px;
    height: 150px;
  }
  #catalogo-tile span, #ofertas-tile span, #compra-tile span{
    height: 20%;
  }
  /*** PAGINA CATEGORÍA ***/
  /* Main Content Categorías */
  .category-tile{
    width: 290px;
  }
  /* col-xxs-12 */
  .col-xxs-12{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}