body{
  color: black;
  font-size: 16px;
  background: url("../img/background-papel.png");
  font-family: 'Oxygen', sans-serif;
}

/* Header */

#header-nav{ /* fondo header */
  background: url("../img/portada_background.png");
  border: 0;
  border-radius: 0;
}

#logo-img{ /* Logo */
  background: url("../img/logo150x150.png") no-repeat;
  height: 150px;
  width: 150px;
  margin: 20px 20px 20px 0;
}

.navbar-brand{
  padding-top: 20px;
}

.navbar-brand h1{ /* Nombre Libreria */
  color: white;
  font-family: 'Abhaya Libre', serif;
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: normal;
  margin-top: 15px;
  margin-bottom: 0px;
  line-height: 1;
  letter-spacing: 0.1em;
}

.navbar-brand a:hover, .navbar-brand a:focus{
  text-decoration: none;
} 

.navbar-brand p{ /* Subtitulo de Nombre Libreria */
  font-size: .7em;
  color: #CFB53B;
  text-transform: uppercase;
  margin-top: -1px;
  text-align: center;

}

/* Menu Header */

.container{ /* container en relative para posicionale el menu */
  position: relative;
}

#nav-list{ /* menu  en absolute respecto al container*/
  position: absolute;
  bottom: 5px;
  right: 0px;
  margin: 0 15px 0 0;
}

#nav-list li{ /* fondo del menu */
  background-color: #000;
  opacity: 0.8;
}

#nav-list a{ /* lutra del menu */
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  font-size: 1em;
}

#nav-list a:hover{
  background: #E7E7E7;
  color: #000;
}

/* Munu desplegable Header */

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{ /* color del icono menu desplegable*/
  border: 1px solid #fff;
}

.navbar-header button.navbar-toggle{
  clear: both;
  margin-top: -30px;
}

/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    /* Header menu */
  .container{ /* container sin el relative para posicionale el menu */
  position: static;
  }
  #nav-list{
    position: static;
  }
  #nav-list{
    margin-top: 40px;
    margin-bottom: 5px;
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px) and (min-width: 481px) {
  /* Header menu desplegable (para que funcione bootstrap hay que dejarlo con relative y absolute) */
  .container{ /* container sin el relative para posicionale el menu */
  position: static;
  }
  #nav-list{
    position: static;
  }

  /* Header */
  .navbar-brand{
    padding: 10px;
    height: 80px;
  }
  .navbar-brand h1{ /* nombre de Libreria */
    padding-top: 10px;
    font-size: 5vw;
  }
  .navbar-brand p{
    font-size: .6em;
  }

}


/********** Extre Extra small devices only **********/

@media (max-width: 480px){
    /* Header menu desplegable (para que funcione bootstrap hay que dejarlo con relative y absolute) */
  .container{ /* container sin el relative para posicionale el menu */
  position: static;
  }
  #nav-list{
    position: static;
  }

  /* Header */
  .navbar-brand{
    padding: 10px;
    height: 80px;
  }
  .navbar-brand h1{ /* nombre de Libreria */
    padding-top: 10px;
    font-size: 7vw;
  }
  .navbar-brand p{
    font-size: 2vw;
  }
}
